body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: inherit;
}

#uno {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 10%;
  margin-top: 7%;
  height:920px;
}

#dos {
  background-image: url(Assets/Group\ 3.png);
  background-position: 50% 30%;
  margin-bottom: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
